:root {
    --avatar-pupil-size: 6px;
    --avatar-eye-size: 17px;
}

#avatar-eyes {
    position: absolute;
    top: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: var(--avatar-eye-size);
    width: var(--avatar-eye-size);
    background: #CCC;
    margin: 0 20px;
}

.avatar-eye:after { /*pupil*/
    position: absolute;
    bottom: 7px;
    right: 5px;
    width: var(--avatar-pupil-size);
    height: var(--avatar-pupil-size);
    background: #000;
    border-radius: 50%;
    content: " ";
}

#avatar-body {
    position: relative;
    height: 300px;
}
