/**
 * All CSS in here is based on:
 * https://github.com/kazzkiq/balloon.css
 */
:root {
    --balloon-color: #333333;
    --balloon-font-size: inherit;
    --balloon-font-color: white;
    --balloon-move: 3px;
    --balloon-distance: 7px;
    --ballon-transition-speed: .1s;
}

[data-balloon-text][data-balloon-pos] {
    overflow: visible;
}

[data-balloon-text][data-balloon-pos] {
    position: relative;
}

[data-balloon-text][data-balloon-pos]:after {
    opacity: 0;
    pointer-events: none;
    text-indent: 0;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: var(--balloon-font-size);
    background: var(--balloon-color);
    border-radius: 10px;
    color: var(--balloon-font-color);
    content: attr(data-balloon-text);
    padding: 1px 10px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[data-balloon-text][data-balloon-pos]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--balloon-color);
    opacity: 0;
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 10;
}

[data-balloon-text][data-balloon-pos]:hover:before, [data-balloon-text][data-balloon-pos]:hover:after, [data-balloon-text][data-balloon-pos][data-balloon-visible]:before, [data-balloon-text][data-balloon-pos][data-balloon-visible]:after, [data-balloon-text][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [data-balloon-text][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
    pointer-events: none;
}

[data-balloon-text][data-balloon-pos][data-balloon-pos="down"]:after {
    left: 50%;
    margin-top: var(--balloon-distance);
    top: 100%;
    transform: translate(-50%, calc(var(--balloon-move) * -1));
}

[data-balloon-text][data-balloon-pos][data-balloon-pos="down"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color);
    left: 50%;
    top: 93%;
    transform: translate(-50%, calc(var(--balloon-move) * -1));
}

[data-balloon-text][data-balloon-pos][data-balloon-pos="down"]:hover:after, [data-balloon-text][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
    transform: translate(-50%, 0);
}

[data-balloon-text][data-balloon-pos][data-balloon-pos="down"]:hover:before, [data-balloon-text][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
    transform: translate(-50%, 0);
}
