html {
    scroll-behavior: smooth;
}

body {
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
}

html, body{
    height: 100%;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
    margin: 0px;
    list-style: none;
    padding: 0px;
}


button,
.button {
    color: #333333;

    transition: all 0.45s;

    position: relative;

    border: 1px solid #333333;
    background: none;
    width: auto;

    overflow: hidden;
    padding: 0 18px;

    line-height: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

button:hover,
.button:hover {
    background: #191829;
    color: white;
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.navbar-dark{

}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,.5);
}
.navbar-dark .navbar-nav .nav-link.active{
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.navbar-dark .navbar-nav .nav-link.active::after {
    width: 50%;
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.heading{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.heading h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
}
.heading p{
    font-size: 18px;
    padding: 20px 0px;
}

#skills-typewriter {
    color: #ffffff;
}


.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.section.lb {
    background-color: #f2f3f5;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.right-box-pro{
    position: relative;
    -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.3);
}
.right-box-pro img{
    position: relative;
    z-index: 2;
}


.item {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
    flex-direction: column;
}

.item-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

@media only screen and (max-width: 767px) {
    .item-listing {
        justify-content: space-around;
    }
}


.skill-box{
    padding: 15px;
    background: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    width: 350px;
}

@media only screen and (max-width: 1199px) {
    .skill-box {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .skill-box {
        width: 100%;
    }
}

.skill-icon{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.skill-icon i{
    font-size: 50px;
    color: #333333;
}
.skill-box h2{
    font-size: 22px;
    font-weight: 600;
}


.message-box h2 {
    font-size: 38px;
    font-weight: 300;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
}


.hoverbutton {
    background-color: #333333;
    position: absolute;
    color: #ffffff !important;
    top: 70%;
    font-size: 21px;
    z-index: 12;
    left: 0;
    opacity: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: -20px auto;
}

.filter-button-group{
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    margin: 10px 0px;
    display: inline-block;
}

.filter-button-group button.active{
    background: #333333;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
}

.filter-button-group button{
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 0;
}


#references-wrapper {
    max-height: 730px; /* Using max-height here for a working transition */

    overflow: hidden;
    transition: max-height 1250ms;
}


#references-wrapper.extended {
    max-height: 5000px; /* Using max-height here for a working transition */
}


.reference-item {
    width: 320px;
    height: 320px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

#reference-item-bdwb img{
    filter: none;
}

#reference-item-hkl img {
    max-width: 200px;
    max-height: 200px;
}

#reference-item-myelisting img {
    filter: invert(1);
}

.reference-item img {
    max-width: 250px;
    max-height: 250px;
}

.reference-item-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 320px;
    height: 320px;
    background: rgba(25, 24, 41, 0.95);
    padding: 30px;
    transition: visibility 0s, opacity 0.25s linear;
    color: white;
}

.reference-item.showing-overlay .reference-item-overlay,
.reference-item:hover .reference-item-overlay {
    visibility: visible;
    opacity: 1;
}

.reference-item-overlay-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.3em;
    cursor: pointer;
}

.reference-item-overlay-close-button:hover {
    color: #999999;
}


#references-extend-button {
    width: 320px;
    margin: 0 auto;
}

#references-extend-button-show-less-design {
    display: none;
}

#references-extend-button.extended #references-extend-button-show-less-design {
    display: block;
}

#references-extend-button.extended #references-extend-button-show-more-design {
    display: none;
}

.gallery-list .img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(51, 51, 51, 0.80);
    color: #35424C;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.dmtop {
    background-color: #3C3D41;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 50px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}


nav#mainNav {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #191829 50%);
    transition: background-position 250ms;
}


nav#mainNav.with-background {
    background-position: 0 -100%;
}

#logo {
    height: 30px;
}

#nav-link-about {
    word-spacing: -0.3em;
}

#home {
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    height: 100%;
    color: white;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0b0a14;
}

div.heading {
    grid-row: 1;
    place-self: center;
    pointer-events: none;
}

#down-button {
    grid-row: 2;
    place-self: center;
    z-index: 1;
}

#down-button a {
    color: white;
}


footer {
    background-color: #191829;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}


#footer-socials-title {
    text-align: center;
    margin-bottom: 30px;
}

#footer-socials-title h3 {
    color: white;
}

#footer-socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-socials-links a {
    color: white;
}

#footer-socials-links a:hover {
    color: rgba(255,255,255,.5);
}

/** region bounce animation */
/** Inspired by: https://codepen.io/bisaillonyannick/pen/pvZeGg */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
/** endregion */
