:root {
    --slide-amount: 25%;
    --grow-amount: 0.75;
    --animate-in-duration: 0.65s;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    font-display: swap;
    src: local('Roboto Mono'), url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
}


body {
    color: #6f6f6f;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
}

html, body{
    height: 100%;
}

a {
    color: #000000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

@media only screen and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}


h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

ul, li, ol{
    margin: 0;
    list-style: none;
    padding: 0;
}


button,
.button {
    color: #333333;

    transition: all 0.45s;

    position: relative;

    border: 1px solid #333333;
    background: none;
    width: auto;

    overflow: hidden;
    padding: 0 18px;

    line-height: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

button:hover,
.button:hover {
    background: #191829;
    color: white;
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.navbar-dark{

}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,.5);
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}

.navbar-dark .navbar-nav .nav-link.active::after {
    width: 100%;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        margin: 0 auto;
    }

    .navbar-nav {
        display: none;
    }
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.heading{
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.heading h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
}
.heading p{
    font-size: 18px;
    padding: 20px 0px;
}

#skills-typewriter {
    color: #ffffff;
}


.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.section.lb {
    background-color: #f2f3f5;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.right-box-pro{
    position: relative;
    -webkit-box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.3);
}
.right-box-pro img{
    position: relative;
    z-index: 2;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
    flex-direction: column;
}

.item-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

@media only screen and (max-width: 767px) {
    .item-listing {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1199px) {
    .item,
    #references-extend-button {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .item,
    #references-extend-button {
        width: 100%;
    }
}


#about > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-image {
    max-width: 350px;
}

#about-text {
    max-width: 50%;
}

#about-text .section-title {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    #about > .container {
        flex-direction: column;
    }

    #about-text {
        max-width: initial;
    }
}

.skill-box{
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 350px;
}


.item-svg {
    max-width: 250px;
    height: 200px;
    margin-bottom: 30px;
}

.skill-box h2{
    font-size: 22px;
    font-weight: 600;
}


.message-box h2 {
    font-size: 38px;
    font-weight: 300;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
}


#references-wrapper {
    max-height: 730px; /* Using max-height here for a working transition */

    overflow: hidden;
    transition: max-height 1250ms;
}


#references-wrapper.extended {
    max-height: 5000px; /* Using max-height here for a working transition */
}


.reference-item {
    background: #ffffff;
    width: 320px;
    height: 320px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

#reference-item-bdwb img{
    filter: none;
}

#reference-item-hkl img {
    max-width: 200px;
    max-height: 200px;
}

#reference-item-myelisting img {
    filter: invert(1);
}

.reference-item img {
    max-width: 250px;
    max-height: 250px;
}

.reference-item-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 320px;
    height: 320px;
    background: rgba(25, 24, 41, 0.95);
    padding: 30px;
    transition: visibility 0s, opacity 0.25s linear;
    color: white;
}

.reference-item-overlay a {
    color: #56b0ff;
}



.reference-item:hover .reference-item-overlay {
    visibility: visible;
    opacity: 1;
}


#references-extend-button {
    width: 320px;
    margin: 0 auto;
}

#references-extend-button img {
    width: 12px;
}

#references-extend-button-show-less-design {
    display: none;
}

#references-extend-button.extended #references-extend-button-show-less-design {
    display: block;
}

#references-extend-button.extended #references-extend-button-show-less-design img {
    transform: rotate(180deg);
}


#references-extend-button.extended #references-extend-button-show-more-design {
    display: none;
}

.dmtop {
    background-color: #3C3D41;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 50px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}


nav#mainNav {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #191829 50%);
    transition: background-position 250ms;
}


nav#mainNav.with-background {
    background-position: 0 -100%;
}

#logo {
    height: 30px;
}

#nav-link-about {
    word-spacing: -0.3em;
}

#home {
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    height: 100%;
    color: white;
}

div.heading {
    grid-row: 1;
    place-self: center;
    pointer-events: none;
}

#down-button {
    grid-row: 2;
    place-self: center;
    z-index: 1;
}

#down-button img {
    width: 50px;
    filter: invert(1);
}


.tool-item {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tool-item img {
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(1);
}

.tool-item-dark img {
    filter: invert(0.3);
}

.tool-item img:hover {
    filter: none;
}

@media only screen and (max-width: 767px) {
    #tools .tool-item {
        width: calc(100% / 3);
    }
}

#tools-text {
    text-align: center;
    margin-top: 30px;
}

footer {
    background-color: #191829;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}


#footer-socials-title {
    text-align: center;
    margin-bottom: 30px;
}

#footer-socials-title h3 {
    color: white;
}

#footer-socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-socials-links a,
#footer-socials-links > div {
    cursor: pointer;
}

#footer-socials-links a:hover img,
#footer-socials-links > div:hover img {
    filter: grayscale(1) invert(1) contrast(1) brightness(1)
}

#footer-socials-links img {
    height: 30px;
    filter: grayscale(1) invert(1) contrast(1) brightness(.7)
}

#social-link-gitlab img {
    filter: grayscale(1) invert(1) contrast(1.5) brightness(1.1)
}

#footer-socials-links #social-link-gitlab:hover img {
    filter: grayscale(1) invert(1) contrast(1.5) brightness(1.4)
}

/** region bounce animation */
/** Inspired by: https://codepen.io/bisaillonyannick/pen/pvZeGg */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
/** endregion */


canvas#stars {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0a14;
}


.animate-in {
    visibility: hidden;
}

.animate-in.animate-in-run {
    visibility: visible;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-property: opacity,transform;
    animation: slide-from-right var(--animate-in-duration);
}

.animate-in.slide-from-top.animate-in-run {
    animation: slide-from-top var(--animate-in-duration);
}

.animate-in.slide-from-right.animate-in-run {
    animation: slide-from-right var(--animate-in-duration);
}

.animate-in.slide-from-bottom.animate-in-run {
    animation: slide-from-bottom var(--animate-in-duration);
}

.animate-in.slide-from-left.animate-in-run {
    animation: slide-from-left var(--animate-in-duration);
}

.animate-in.grow.animate-in-run {
    animation: grow var(--animate-in-duration);
}

@keyframes slide-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(var(--slide-amount));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-top {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--slide-amount)*-1));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-left {
    0% {
        opacity: 0;
        transform: translateX(calc(var(--slide-amount)*-1));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(var(--slide-amount));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(var(--grow-amount));
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
