:root {
    --slide-amount: 25%;
    --grow-amount: 0.75;
    --animate-in-duration: 0.65s;
}

*, ::after, ::before {
    box-sizing: border-box
}

/* quicksand-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/quicksand-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/quicksand-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    scroll-behavior: smooth;
}


body {
    color: #6f6f6f;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.80857;
    margin: 0;
    font-weight: 400;
    text-align: left;
    background-color: #fff
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: #000000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

@media only screen and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}


h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}


a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

ul, li, ol {
    margin: 0;
    list-style: none;
    padding: 0;
}

img {
    vertical-align: middle;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

button,
.button {
    color: #333333;

    transition: all 0.45s;

    position: relative;

    border: 1px solid #333333;
    background: none;
    width: auto;

    overflow: hidden;
    padding: 0 18px;

    line-height: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

button:hover,
.button:hover {
    background: #191829;
    color: white;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

nav > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus, nav .navbar-brand:hover {
    color: #fff
}

#navbar-nav .nav-link {
    padding: .5rem .5rem
}

#navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase
}

#navbar-nav .nav-link {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
}

#navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .5);
}

#navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}

#navbar-nav .nav-link.active::after {
    width: 100%;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        margin: 0 auto;
    }

    #navbar-nav {
        display: none;
    }
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

#avatar-wrapper {
    color: #fff;
    display: flex;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    grid-row: 1;
    place-self: center;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
}

#avatar-wrapper p {
    font-size: 18px;
    padding: 20px 0;
}

#skills-typewriter {
    color: #ffffff;
    font-size: 22px;
    height: 22px;
    border-right: 2px solid white;
    width: fit-content;
    padding: 0;
}


.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.section.lb {
    background-color: #f2f3f5;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
    color: #252525;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
    flex-direction: column;
}

.item-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}

@media only screen and (max-width: 767px) {
    .item-listing {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1199px) {
    .item,
    #references-extend-button {
        width: 48%;
    }
}

@media only screen and (max-width: 767px) {
    .item,
    #references-extend-button {
        width: 100%;
    }
}


#about > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-image {
    max-width: 350px;
}

#about-text {
    max-width: 50%;
}

#about-text .section-title {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    #about > .container {
        flex-direction: column;
    }

    #about-text {
        max-width: initial;
    }
}

.skill-box {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    width: 350px;
}


.item-svg {
    max-width: 250px;
    height: 200px;
    margin-bottom: 30px;
}

.skill-box h4 {
    font-size: 22px;
    font-weight: 500;
}


#references-wrapper {
    max-height: calc(525px * 2 + 40px); /* Using max-height here for a working transition */

    overflow: hidden;
    transition: max-height 1250ms;

    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 10px; /* make sure drop shadows are not cut off */
}


#references-wrapper.extended {
    max-height: 5000px; /* Using max-height here for a working transition */
}


.reference-item {
    background: #ffffff;
    width: 350px;
    height: 525px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin: 0;
    justify-content: initial;
    align-items: center;
    display: grid;
    grid-template-rows: 135px 1fr 75px;
}

.reference-item-logo {
    display: grid;
    place-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

#reference-item-myelisting img {
    filter: invert(1);
}

#reference-item-brassberg img {
    filter: invert(1);
}

.reference-item img {
    max-height: 100px;
    max-width: 100%;
}

.reference-item-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.reference-item-tag {
    background-color: rgb(221 221 221);
    color: #191829;
    border-radius: 10px;
    padding: 1px 10px;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.reference-item-tag::before {
    content: '#';
}

.reference-item-description {
    align-self: flex-start;
}

#references-extend-button {
    width: 350px;
    margin-top: 20px;
}

#references-extend-button img {
    width: 12px;
}

#references-extend-button-show-less-design {
    display: none;
}

#references-extend-button.extended #references-extend-button-show-less-design {
    display: block;
}

#references-extend-button.extended #references-extend-button-show-less-design img {
    transform: rotate(180deg);
}


#references-extend-button.extended #references-extend-button-show-more-design {
    display: none;
}


nav#mainNav {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #191829 50%);
    transition: background-position 250ms;
}


nav#mainNav.with-background {
    background-position: 0 -100%;
}

#logo {
    height: 30px;
}

#home {
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    height: 100vh;
    color: white;
}

#down-button {
    grid-row: 2;
    place-self: center;
    z-index: 1;
}

#down-button img {
    width: 50px;
    filter: invert(1);
}


.tool-item {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tool-item img {
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(1);
}

.tool-item-dark img {
    filter: invert(0.3);
}

.tool-item img:hover {
    filter: none;
}

@media only screen and (max-width: 767px) {
    #tools .tool-item {
        width: calc(100% / 3);
    }
}

#tools-text {
    text-align: center;
    margin-top: 30px;
}

footer {
    background-color: #191829;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}


#footer-socials-title {
    text-align: center;
    margin-bottom: 30px;
}

#footer-socials-title h3 {
    color: white;
}

#footer-socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-socials-links a,
#footer-socials-links > div {
    cursor: pointer;
}

#footer-socials-links a:hover img,
#footer-socials-links > div:hover img {
    filter: grayscale(1) invert(1) contrast(1) brightness(1)
}

#footer-socials-links img {
    height: 30px;
    filter: grayscale(1) invert(1) contrast(1) brightness(.7)
}

#social-link-gitlab img {
    filter: grayscale(1) invert(1) contrast(1.5) brightness(1.1)
}

#footer-socials-links #social-link-gitlab:hover img {
    filter: grayscale(1) invert(1) contrast(1.5) brightness(1.4)
}

/** region bounce animation */
/** Inspired by: https://codepen.io/bisaillonyannick/pen/pvZeGg */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/** endregion */


canvas#stars {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0a14;
}


.animate-in {
    visibility: hidden;
}

.animate-in.animate-in-run {
    visibility: visible;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-property: opacity, transform;
    animation: slide-from-right var(--animate-in-duration);
}

.animate-in.slide-from-top.animate-in-run {
    animation: slide-from-top var(--animate-in-duration);
}

.animate-in.slide-from-right.animate-in-run {
    animation: slide-from-right var(--animate-in-duration);
}

.animate-in.slide-from-bottom.animate-in-run {
    animation: slide-from-bottom var(--animate-in-duration);
}

.animate-in.slide-from-left.animate-in-run {
    animation: slide-from-left var(--animate-in-duration);
}

.animate-in.grow.animate-in-run {
    animation: grow var(--animate-in-duration);
}

@keyframes slide-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(var(--slide-amount));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-top {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--slide-amount) * -1));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-left {
    0% {
        opacity: 0;
        transform: translateX(calc(var(--slide-amount) * -1));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(var(--slide-amount));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(var(--grow-amount));
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
